.b {
  margin-top: -30px;
  background-color: white;
  color: rgb(24, 19, 19);
  padding: 15px;
}
.b:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
