.review-img {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.review-img:hover {
  transform: scale(1.1);
}

.social img {
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.social img:hover {
  transform: scale(1.1, 1.1);
}
.social h5 {
  color: teal;
}
