.my-nav {
  background-image: linear-gradient(rgb(9, 92, 9), rgb(56, 165, 56));
}

.brand-name {
  color: greenyellow;
}
.active-link {
  text-decoration: none;
  color: cyan;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.link:hover {
  color: rgb(156, 228, 228);
}
.active-link:hover {
  color: rgb(156, 228, 228);
}
