.input-wrapper input {
  border: none;
  background-image: linear-gradient(rgb(233, 243, 233), rgb(243, 248, 248));
}
.s-container {
  box-shadow: 0.5px 1.5px rgb(251, 240, 240);
  border: 1px solid rgb(159, 192, 164);
}

.g-btn {
  background-image: linear-gradient(rgb(138, 209, 173), rgb(166, 236, 181));
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.signup-container {
  min: height 100vh;
}
