.input-wrapper input {
  border: none;
  background-image: linear-gradient(rgb(233, 243, 233), rgb(243, 248, 248));
}
.s-container {
  box-shadow: 0.5px 1.5px rgb(251, 240, 240);
  border: 1px solid rgb(143, 146, 145);
}

.g-btn {
  background-image: linear-gradient(rgb(121, 124, 124), rgb(140, 145, 144));
  font-size: 22px;
  font-weight: 600;
  color: white;
}
