.input-wrapper input {
  border: none;
  background-image: linear-gradient(rgb(233, 243, 233), rgb(243, 248, 248));
}
.s-container {
  box-shadow: 0.5px 1.5px rgb(251, 240, 240);
  border: 1px solid rgb(159, 192, 164);
}

.g-btn {
  background-color: rgb(108, 146, 146);
  font-size: 20px;
  font-weight: 600;
  color: white;
  transition: all 0.2s ease-in-out;
}
.g-btn:hover {
  transform: scale(1.02, 1.02);
  background-color: rgb(52, 146, 146);
}
.signup-container {
  min-height: 100vh;
}
